.BurnADrako {
    .burn-drako-summary {
        padding: 0px 35px 60px 35px;
        @media (max-width: 1009px) {
            .left-column {
                margin-bottom: 15px;
            }
        }
        @media (min-width: 1010px) {
            .left-column {
                flex: 0 0 auto;
                width: 66.66666667%;
            }
            .right-column {
                flex: 0 0 auto;
                width: 33.33333333%;
            }
        }
        .drakos-inner {
            background: rgba(10, 95, 136, 0.2);
            border: 3px solid #11cffa;
            border-radius: 20px;
            padding: 40px;
            height: 100%;
            background-image: url("../../assets/images/drako-head-background.png");
            background-size: 38%;
            background-repeat: no-repeat;
            background-position: top right;
            @media (max-width: 1440px) {
                background-size: 60%;
            }
            @media (max-width: 1009px) {
                background-size: 45%;
            }
            @media (max-width: 767px) {
                background-size: 0%;
            }
            h3.token-title {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #11cffa;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #fff;
                margin-bottom: 30px;
                word-wrap: break-word;
            }
            button.ShowDrakos {
                background: #11cffa;
                border-radius: 10px;
                border: 1px solid #11cffa;
                padding: 15px 35px;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #0b1426;
                margin-bottom: 30px;
            }
            .card {
                background: linear-gradient(180deg, #fa8905 0%, #e93902 100%);
                border: 3px solid #fa7b05;
                border-radius: 15px;
                padding: 15px 12px;
                margin-bottom: 15px;
                button.burn-drako {
                    /* margin-top: 25px; */
                    width: 90%;
                    background: #ffc700;
                    border-radius: 50px;
                    border: 1px solid #ffc700;
                    margin: 0 auto;
                    margin-top: 25px;
                    padding: 10px 0;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color: #ff0d0d;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #fff;
                }
            }
        }
        .information-details {
            background: rgba(10, 95, 136, 0.2);
            border: 3px solid #11cffa;
            border-radius: 20px;
            padding: 20px;
            height: 100%;
            .list-title {
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                background: linear-gradient(180deg, #0a5f88 0%, #11cffa 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #fff;
                margin-bottom: 25px;
            }
            ul.info-list {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    p {
                        .left {
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 24px;
                            color: #ffffff;
                        }
                        .right {
                            font-weight: 700;
                            font-size: 36px;
                            line-height: 44px;
                            color: #11cffa;
                            text-shadow: 0px 0px 5px #11cffa;
                            @media (max-width: 566px) {
                                font-size: 26px;
                                line-height: 30px;
                            }
                        }
                    }
                    &:last-child {
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            hr {
                border-color: #11cffa;
                border-width: 3px;
                opacity: 1;
                margin-top: 5px;
            }
        }
    }
}
