.RaffleTicket {
  padding: 45px 0px 30px 0;
  border-top: 1px solid #00d0ff;
  border-bottom: 1px solid #00d0ff;
  .item-row {
    justify-content: space-between;
    @media (min-width: 768px) {
      .col-md-4 {
        flex: 0 0 auto;
        width: 32.333333%;
      }
    }
  }
  .ticket-row {
    flex-wrap: wrap;
    .ticket-item {
      flex: 1 1 auto;
      width: 100%;
      background: #0b1426;
      box-shadow: 0px 0px 10px #11cffa;
      border-radius: 20px;
      overflow: hidden;
      @media (min-width: 768px) {
        flex: 0 0 auto;
        width: 30.333333%;
      }
      .ticket-ttile {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        background: #00d0ff;
        border-radius: 20px 20px 0px 0px;
        color: #0b1426;
        text-shadow: 0px 0px 4px #00d0ff;
        padding: 10px 0;
        text-align: center;
      }
      h3.ticket-title-bottoom {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #00d0ff;
        text-shadow: 0px 0px 4px #00d0ff;
        text-align: center;
        margin: 10px 0;
      }
      .ticket-body {
        .ticket-image {
          border-radius: 50%;
          img {
            width: 85%;
          }
        }
        .bar-block {
          width: 30%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 35px;
          hr {
            opacity: 1;
            margin: 0;
            border: 0px solid #11cffa;
            height: 1px;
            background-color: #11cffa;
            &.one {
              width: 150%;
            }
            &.two {
              width: 190%;
            }
          }
        }
      }
    }
  }
}
