body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0b1426;
}

body {
  background: #0b1426;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
body,
button {
  font-family: "Inter";
}
